<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class = "card">
            <div class = "card-body">
                <h5 class = "card-title">About Us:</h5>
                <div class= "card-text">
                    Welcome to the application! We are a simple application aiming to provide you with information on a healthy lifestyle, and to meet your fitness goals.
                </div>
    </body>
</html>