<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class = "mx-auto" style="width: 60em;margin-top:5em;">

            <div class = "card">
                <div class = "row-flex">
                    <div class = "span-1 offset 1">
                        <button class = "btn btn-primary" href = "/register" >Sign up</a>
                        <button class = "btn btn-primary" href = "/login" >Log In</a>
                    </div>
                </div>
                <div class = "card-body">
                    <h5 class = "card-title">About Us:</h5>
                    <div class= "card-text">
                      <p>  Welcome to the application! We are a simple application aiming to inform a healthy lifestyle and to help you meet your goals.</p>
                      <p> Please create or sign in to an account to learn more.</p>
                    </div>
                </div>
            </div>   
        </div> 
    </body>
</html>