<html lang = "en">
    <head>
        {{>header}}
    </head>
    <body>
        <form action="/update" method="POST">
          <fieldset>
                 <h3>Edit Goal</h3>
                 <label>Goal ID:</label>
                 <input type = "text" id = "_id" name = "_id" required>
                 <br></br>
                 <label>Goal Name:</label>
                 <input type = "text" id = "name" name = "name" required>
                <br></br>

                <label>Goal Type:</label>
                <select name = "type">
                    <option value = "lifestyleGoal">Lifestyle Goal</option>
                    <option value = "fitnessGoal">Fitness Goal</option>
                    <option value = "nutritionGoal">Nutrition Goal</option>
                </select>
                <br></br>

                <label>Goal Value</label>
                <input type="text" id = "goalValue" name = "goalValue" required>
                <br></br>
                <label>Goal Date</label>
                <input type ="date" id = "goalDate" name = "goalDate" required>
                <br></br>
                <input type = "checkbox" id = "complete" name = "complete">
                <button type ="reset">Reset</button>
                <button type ="submit">Submit</button>
            </fieldset>
        </form>
    </body>
</html>