<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class = "mx-auto" style="width: 60em;margin-top:5em;">
            <div class = "card">
                <div class = "card-body">
                    <h5 class = "card-title"> Fitness</h5>
                    <div class = "card-text">
                        It is important to keep fit; it is reccomended that adults perform 150 minutes of moderate exercise each week.
                    </div>
                </div>
            </div>
        </div>
    </body>
<html>