<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class = "mx-auto" style="width: 60em;margin-top:5em;">
            <div class = "card">
              <div class = "row-flex">
                    <div class = "span-1 offset 1" style="float-right;">
                        <a href = "/loggedin" class = "btn btn-primary">Back</a>
                    </div>
                </div>
                <div
                <div class = "card-body">
                    <h5 class = "card-title"> Fitness</h5>
                    <div class = "card-text">
                        <p>It is important to keep fit; it is reccomended that adults perform 150 minutes of moderate exercise each week.</p>
                        <p>Types of exercise include:</p>
                        <ul>
                            <li>
                                Walking
                            </li>
                            <li>
                                Swimming
                            </li>
                            <li>
                                Running
                            </li>
                            <li>
                                Tennis
                            </li>
                            <li>
                                Martial Arts
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
<html>