<html>
    <head>
        {{>header}}
    </head>
    <body>
    <div class = "mx-auto" style="width: 60em;margin-top:5em;margin-left:15em;margin-right:15em;">
        <div class = "card">
            <div class = "card-body">
                <div class = "card-text">
                    <h5 class = "card-title">
                        Goals
                    </h5>
                </div>
            
                    <hr></hr>
             
                    <div class ="row">
                            <div class = "span-1">
                                <a href = "/redir">
                                    <div class = "card-body">
                                        <h5 class = "card-title">
                                            My Goals
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class = "span-1">
                                <a href = "./add">
                                    <div class = "card">
                                            <div class = "card-body">
                                                <h5 class = "card-title"> 
                                                    Add New Goal
                                                </h5>
                                            </div>
                                    </div>
                                </a>
                            </div>
                            <div class = "span-1">
                                <a href = "./add">
                                    <div class = "card">
                                        <div class = "card-body">
                                            <h5 class = "card-title">
                                                Add Existing Goal
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                            <div class = "span-1">
                                <a href = "./update">
                                    <div class = "card">
                                        <div class = "card-body">
                                            <h5 class = "card-title">
                                                Edit Existing Goals
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class = "span-1">
                                <a href = "./delete">
                                    <div class = "card">
                                        <div class = "card-body">   
                                            <h5 class = "card-title">
                                                Delete Goal
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>       
    </body>
    
</html>