<html>
    <head>
        {{>header}}
    </head>
    <body>
        {{#goal}}
        <div class = "card">
            <div class = "card-body">
                <h4 class = "card-title">View Goal </h4>
                <p class = "card-text">
                    ID: {{_id}}
                </p>
                <p class = "card-text">
                    Goal Name: {{name}}
                </p>
                <p class = "card-text">
                    Goal Type: {{goalType}}
                </p>
                <p class = "card-text>
                    Goal Value: {{goalValue}}
                </p>
                <p class = card-text>
                    goal Date: {{goalDate}}
                </p>
            </div>
        </div>
        {{/goal}}
    </body>
</html>