<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class = "mx-auto" style="width: 60em;margin-top:5em;">
            <div class = "card">
              <div class = "row-flex">
                    <div class = "span-1 offset 1" style="float-right;">
                        <a href = "/loggedin" class = "btn btn-primary">Back</a>
                    </div>
                </div>
                <div class = "card-body">
                    <h5 class = "card-title">
                        Lifestyle
                    </h5>
                    <div class = "card-text">
                        To maintain wellbeing, it is important to maintain a healthy lifestyle; factors may include:
                        <ul>
                            <li>
                                Sleep: It is reccomended that adults have a minimum 7 hours of sleep to promote optimal health.
                            </li>
                            <li>
                                Water: It is reccomended that adults drink six-eight 8oz glasses of water per day.
                            </li>
                            <li>
                                Mindfulness: Practicing mindfulness has a variety of benefits, including reduced anxiety and depression, reduced heart rates, and lower blood pressure.
                        </ul>
                        
                    <div>
                </div>
            </div>
        </div>
    </body>
<html>