<html>
    <head>
        {{>header}}
    </head>
    <body>
        Thank you for creating an account! What would you like to do?
        <a href = "./fitness">
            <div class = "card" id ="fitness">
                <h5 class = "card-title" id = "title">
                    <div class = "card-body">
                        View fitness advice
                    </div>
            </div>
        </a>
        <a href = "./nutrition">
            <div class = "card" id = "nutrition">
                <h5 class = "card-title" id = "title">
                    View nutritional advice
                </h5>
            </div>
        </a>
        <a href = "./lifestyle">
            <div class = "card" id = "lifestyle">
                <h5 class = "card-title" id = "title">
                    View lifestyle advice
                </h5>
            </div>
        </a>
    </body>
</html>