<html>
    <head>
        {{>header}}
    </head>
    <body>
        Thank you for creating an account! What would you like to do?
        <a href = "./fitness>
            <div class = "fitness">
                View fitness advice
            </div>
        </a>
        <a href = "./nutrition">
            <div class = "nutrition">
                View nutritional advice
            </div>
        </a>
        <a href = "./lifestyle">
            <div class = "lifestyle">
                View lifestyle advice
            </div>
        </a>
        <div class = "goals"
    </body>
</html>