<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class = "mx-auto" style="width: 60em;margin-top:5em;">
                <div class = "card">
                  <div class = "row-flex">
                    <div class = "span-1 offset 1" style="float-right;">
                        <a href = "/loggedin" class = "btn btn-primary">Back</a>
                    </div>
                </div>
                    <div class = "card-body">
                        <h5 class = "card-title">Nutitional Advice:</h5>
                        <div class = "card-text">
                            <p>
                                There are many benefits to maintaining a healthy, balanced diet; these include:
                                <ul>
                                    <li>
                                        Potential for increased lifespan,
                                    </li>
                                    <li>
                                        Promotion of skin, teeth, and eye health,
                                    </li>
                                    <li>
                                        Strengthened immunity,
                                    </li>
                                    <li>
                                        Lower risk of heart disease,
                                    </li>
                                    <li>
                                        Lower risk of type 2 Diabetesa,
                                    </li>
                                    <li>
                                        Lower risk of developing some cancers,
                                    </li>
                                    <li>
                                        Healthy weight maintenece.
                                    </li>
                                    <li>
                                        Promotion of gut health.
                                    </li>  
                                </ul> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<html>